[submodule "libft-42-cursus"]
	path = libft-42-cursus
	url = https://github.com/Mou-SED/libft-42-cursus.git
[submodule "get_next_line-42-cursus"]
	path = get_next_line-42-cursus
	url = https://github.com/Mou-SED/get_next_line-42-cursus.git
[submodule "ft_printf-42-cursus"]
	path = ft_printf-42-cursus
	url = https://github.com/Mou-SED/ft_printf-42-cursus.git
[submodule "Born2beroot-42-cursus"]
	path = Born2beroot-42-cursus
	url = https://github.com/Mou-SED/Born2beroot-42-cursus.git
